.projectLanguageRow {
  width: 100%;
  background-color: rgba(194, 236, 221, 0.3);
  padding: 22px;
  border: 1px solid rgba(3, 84, 55, 0.1);
  display: flex;
  flex-flow: row nowrap;
}

.projectLanguageRow.disabled {
  filter: grayscale(60%);
}

.language-project {
  flex: 3 3;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.push-json,
.translate {
  flex: 1 1;
}
