.projectLanguageRow {
  width: 100%;
  background-color: rgba(194, 236, 221, 0.3);
  padding: 22px;
  border: 1px solid rgba(3, 84, 55, 0.1);
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  overflow: hidden;
}

.projectLanguageRow .main {
  display: none;
}

.projectLanguageRow:first-of-type .main {
  background-color: yellow;
  display: block;
  height: 30px;
  left: -100px;
  position: absolute;
  transform: rotate(-45deg);
  width: 250px;
}

.projectLanguageRow.disabled {
  filter: grayscale(60%);
}

.language-project {
  flex: 2 2;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.info {
  color: gray;
}

.porcentaje {
  margin-left: 5px;
  color: red;
}

.porcentaje.half {
  color: orange;
}

.porcentaje.complete {
  color: green;
  font-size: 1.5rem;
}

.info,
.import-json,
.push-json,
.translate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
}

.overwrite-checkbox {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.modal-blocked {
  align-items: center;
  background-color: rgba(100, 100, 100, 0.1);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: absolute;
  width: 100vw;
}
