.projectDashboard {
  margin: auto;
  margin-top: 100px;
  height: calc(100vh - 100px);
  width: 80vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.breadcrumb {
  color: #999;
  cursor: pointer;
  margin: 0;
  margin-bottom: 1px;
}

.breadcrumb:hover,
.breadcrumb:active {
  border-bottom: 1px solid #999;
  margin: 0;
}

.projectDashboard h1 {
  width: 80%;
  color: #666;
}

.languages-list {
  width: 100%;
}
