.ProjectOptionsItem {
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  margin-bottom: 22px;
}

.header {
  height: 50px;
  margin: 0;
}

.ProjectOptionsItem > .column {
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  border: solid rgba(44, 223, 163, 0.4) 1px;
}

.header > .column {
  border: none;
}

.ProjectOptionsItem .item-name {
  margin: 5px;
  padding-right: 13px;
}

.lang {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.lang > .select_main-lang {
  margin: 5px 0 5px 5px;
}

.ProjectOptionsItem .project-in .item-name:not(.main):hover {
  color: #bb7474;
  padding: 0;
}

.ProjectOptionsItem .project-out .item-name:hover {
  color: #74bb93;
  padding: 0;
}

.ProjectOptionsItem .project-in .item-name:not(.main):hover::after {
  content: '\2193';
}

.ProjectOptionsItem .project-out .item-name:hover::after {
  content: '\2191';
}
