.new-project__form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.form-group {
  flex: 0 1 30%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  margin-bottom: 22px;
}

.search-group {
  display: flex;
  flex-flow: column nowrap;
}

.result-search {
  display: flex;
  flex-flow: row wrap;
}

.search {
  flex-shrink: 0;
}

label {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.form-item {
  flex-grow: 1;
}

.project-languages__label,
.project-users__label {
  margin-top: 5px;
}

.btn {
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  float: right;
}

.btn.btn-save {
  background-color: green;
  border: solid 1px green;
}

.btn:focus {
  outline: none;
}

.btn.btn-save:hover,
.btn.btn-save:active {
  background-color: #90ee90;
  color: green;
}

.btn.btn-cancel {
  background-color: red;
  border: solid 1px red;
}

.btn.btn-cancel:hover,
.btn.btn-cancel:active {
  background-color: #fc9e9e;
  color: red;
}
