.action {
    display: inline-block;
    width: 45%;
    height: 100px;
    background-color: #2988f3;
    padding: 22px;
    text-align: center;
    color: white;
    margin: 10px;
    font-size: 32px;
    font-weight: bold;
    border-radius: 20px;
    border: solid #0a5ebd 0.5px;
    box-shadow: 4px 17px 43px -15px #0a5ebd;
    vertical-align: middle;
    cursor: pointer;
}

.action:hover,
.action:active {
    background-color: white;
    color: #2988f3;
    box-shadow: 0 0 0 0 #fff;
}

.action p {
    margin: 0;
    padding: 0;
    height: 54px;
    line-height: 54px;
}