/*.languages {
  margin-top: 56px;
  width: 100%;
  padding: 22px;
  text-align: center;
}

.languages h1 {
  font-size: 3em;
  color: #2988f3;
  font-family: sans-serif;
}

.languages__list {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}

.language {
  flex: 0 3 30%;
  min-width: 260px;
  height: 100px;
  background-color: #2988f3;
  text-align: center;
  color: white;
  margin: 10px;
  font-weight: bold;
  border-radius: 20px;
  border: solid #0a5ebd 0.5px;
  box-shadow: 4px 17px 43px -15px #0a5ebd;
  vertical-align: middle;
  cursor: pointer;
}

.language:hover,
.language:active {
  background-color: white;
  color: #2988f3;
  box-shadow: 0 0 0 0 #fff;
}

.language p {
  margin: 0;
  padding: 22px;
  width: 100%;
  display: inline-block;
  height: 100%;
  font-size: 3em;
}

.literals__table {
  width: 80%;
  margin: auto;
}

button {
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button.btn-save {
  background-color: green;
  border: solid 1px green;
}

button:focus {
  outline: none;
}

button.btn-save:hover,
button.btn-save:active {
  background-color: #90ee90;
}

button.btn-cancel {
  background-color: red;
  border: solid 1px red;
}

button.btn-cancel:hover,
button.btn-cancel:active {
  background-color: salmon;
}*/
