.translation-input {
  max-width: 100%;
  min-width: 100%;
  background-color: transparent;
  border: none;
  height: 40px;
  text-align: center;
  resize: vertical;
  border: 0.5px dotted #419277;
  line-height: 40px;
}

.translation-input:focus {
  background-color: white;
}
