.translation-row {
  position: relative;
}

.translation-row .delete-btn {
  color: #eb3c10;
  cursor: pointer;
  position: absolute;
  left: -30px;
}

.translation-row .delete-btn:hover {
  color: #8c2e17;
}

.translation-input {
  max-width: 100%;
  min-width: 100%;
  background-color: transparent;
  border: none;
  height: 40px;
  text-align: center;
  resize: vertical;
  border: 0.5px dotted #419277;
  line-height: 40px;
}

.translation-input:focus {
  background-color: white;
}
