.main-header {
  width: 100%;
  background: linear-gradient(to right, #37eaae, #419176);
  padding: 8px 16px;
  position: fixed;
  z-index: 1;
  height: 56px;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 25px;
  margin-right: 10px;
}

.main-header__title {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  display: inline-block;
}

.main-nav {
  flex-shrink: 5;
  display: flex;
  vertical-align: middle;
  top: 0;
  left: 0;
}

.main-nav__items {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 1px solid white;
}

.user {
  border-left: 1px #054630 solid;
  padding-left: 15px;
}
